<meta charset="utf-8">
	<meta name="author" content="slasharchitects">
	<meta name="description" content="slasharchitects is an Istanbul-based architecture practice"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
    <link href='http://fonts.googleapis.com/css?family=Roboto:700italic,300,700,300italic&subset=latin-ext' rel='stylesheet' type='text/css'>
    
    <meta property="og:title" content="Glaister||Gaucher Architects"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://www.ggarchi.com/"/>
    <meta property="og:image" content="http://www.ggarchi.com/img/00-general/GGA-logo.svg"/>
    <meta property="og:site_name" content="Glaister||Gaucher Architects">
    <meta property="og:description" content="Glaister||Gaucher Architects is an Istanbul-based architecture practice" />
    <meta property="fb:admins" content="1266930001" />
    
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@GGArchitects">
    <meta name="twitter:title" content="Glaister||Gaucher Architects">
    <meta name="twitter:description" content="slasharchitects is an Istanbul-based architecture practice">
    
    <link href="https://plus.google.com/100649611015293255253" rel="publisher"/>
    <meta itemprop="name" content="Glaister||Gaucher Architects"/>
    <meta itemprop="description" content="Glaister||Gaucher Architects is an Istanbul-based architecture practice"/>
    <meta itemprop="image" content="http://www.ggarchi.com/img/00-general/GGA-logo.svg"/>