<div id="menu_icon"></div>
		<nav class="desktop">
			<ul>
				<li>Info
                    <ul>
                        <!-- <li><a href="#">Services</a></li> -->
                        <li><a href="/tr/profil">Profil</a></li>
                        <li><a href="/tr/iletisim">İletişim</a></li>
                        <li><a href="/tr/oduller-yayinlar">Ödüller + Yayınlar</a></li>
                        <!-- <li><a href="#">F.T.P</a></li> -->
                    </ul>
                </li>
                <li>Projeler
                    <ul id="filter-list" class="clearfix">
                        <li class="filter" data-filter="all"><a href="#">Tüm Projeler</a></li>
                        <li class="filter" data-filter=".mimarlik"><a href="#">Mimarlık</a></li>
                        <li class="filter" data-filter=".icmimarlik"><a href="#">İç Mimarlık</a></li>
                        <li class="filter" data-filter=".kentseltasarim"><a href="#">Kentsel Tasarım</a></li>
                        <!-- <li class="filter" data-filter=".akademik"><a href="#">Akademik Araştırmalar</a></li> -->
                    </ul>
                </li>
			</ul>
		</nav>
        <nav class="mobile">
			<ul>
				<li>
                    <ul>
                        <!-- <li><a href="#">Services</a></li> -->
                        <li><a href="/tr/profil">Profil</a></li>
                        <li><a href="/tr/iletisim">İletişim</a></li>
                        <li><a href="/tr/oduller-yayinlar">Ödüller + Yayınlar</a></li>
                        <li><a href="/tr/index">Tüm Projeler</a></li>
                        <!-- <li><a href="#">F.T.P</a></li> -->
                    </ul>
                </li>
			</ul>
		</nav>
