<div id="menu_icon"></div>
	<nav class="desktop">
		<ul>
			<li>Informations
                <ul>
                    <!-- <li><a href="#">Services</a></li> -->
                    <li><a href="/en/about">About us</a></li>
                    <li><a href="/en/contact">Contact</a></li>
                    <li><a href="/en/awards-publications">Awards + Publications</a></li>
                    <!-- <li><a href="#">F.T.P</a></li> -->
                </ul>
            </li>
            <li>Projects
                <ul id="filter-list" class="clearfix">
                    <li class="filter" data-filter="all"><a href="/index.html">All Projects</a></li>
                </ul>
            </li>
		</ul>
	</nav>
    <nav class="mobile">
		<ul>
			<li>
                <ul>
                    <!-- <li><a href="#">Services</a></li> -->
                    <li><a href="/en/about">About us</a></li>
                    <li><a href="/en/contact">Contact</a></li>
                    <li><a href="/en/awards-publications">Awards + Publications</a></li>
                    <li><a href="/index">All Projects</a></li>
                    <!-- <li><a href="#">F.T.P</a></li> -->
                </ul>
            </li>
		</ul>
	</nav>
