---
layout: compress
---

<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/LocalBusiness">
<head>
	<title>slasharchitects</title>
	
{% include meta.html %}
{% include favicons.html %}
  <link rel="alternate" hreflang="tr" href="http://slasharchitects.com/tr/index.html" />
	<link rel="stylesheet" type="text/css" href="/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/jquery.mixitup.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>
{% include analytics.html %}
</head>
<body>

	<header>
		<div class="logo">
			<a href="/index.html"><img src="/img/00-general/slasharchitects-logo-full.jpg" title="slasharchitects logo" alt="slash"/></a>
		</div><!-- end logo -->


{% include nav-main.html %}	

		<div class="footer clearfix">
            <div class="language">
                <p><a href=/index.html>en</a> || <a href=/tr/index.html>tr</a></p>
			</div>
			<ul class="social clearfix">
				{% include social.html %}
			</ul>

			<div class="rights">
				<p>© 2014-2017 <b>slash</b>architects</p>
			</div><!-- end rights -->
		</div ><!-- end footer -->
	</header><!-- end header -->

	{{ content }}



</body>
</html>
