---
layout: compress
---

<!DOCTYPE html>
<html lang="en"  itemscope itemtype="http://schema.org/{{ page.snippettype }}">
<head>
	<title>{{ page.title }}</title>
	
{% include meta.html %}
{% include favicons.html %}
	<link rel="stylesheet" type="text/css" href="/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/jquery.mixitup.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>
  <script type="text/javascript" src="/js/modal.js"></script>
{% include analytics.html %}
</head>
<body onload="revealModal('modalPage')">

	<header>
		<div class="logo">
			<a href="/index.html"><img src="/img/00-general/slasharchitects-logo-full.jpg" title="slasharchitects logo" alt="slash"/></a>
		</div><!-- end logo -->


{% include nav-page.html %}	

		<div class="footer clearfix">
            <div class="language">
                <p><a href=/index.html>en</a> || <a href=/tr/index.html>tr</a></p>
			</div>
			<ul class="social clearfix">
				{% include social.html %}
			</ul>

			<div class="rights">
				<p>© 2014-2017 <b>slash</b>architects</p>
			</div><!-- end rights -->
		</div ><!-- end footer -->
	</header><!-- end header -->

<div id="modalPage">
    <div class="modalBackground">
    </div>
    <div class="modalContainer">
        <div class="modal">
            <div class="modalTop"><a href="#" onclick="hideModal('modalPage')">[X]</a></div>
            <div class="modalBody">
                <p>Bang!</p>
            </div>
        </div>
    </div>
</div>

	{{ content }}



</body>
</html>
